<%include ./base/header.ejs%>
<div id="banner-wapper">
  <div class="banner">
    <h2>成功案例</h2>
        <span>每一步工程都精雕细琢</span>
        <p><span>当前位置：</span><a href="index.html">主页</a>>关于我们</p>
    </div>
</div>
<div id="ban-bot-wapper">
    <div class="ban-bot">
        <ul><%for(let i=0;i<4;i++){%><li><a href="#"><%=nav[i].navtitle%></a></li><%}%></ul>
    </div>
</div>

<div id="news" class="about">
	<div class="news-left"><img style="display:block;margin-top:80px;" src="<%=news.newpic%>"></div>
    <div class="news-right">
    	<h4><%=news.title%></h4>
        <p><%-news.content%></p>
    </div>
</div>


<div id="mission">
	<h2>企业使命 Enterprise Mission</h2>
    <ul>
        <%for(let i=0;i<3;i++){%>
            <li>
                <img src="<%=caslist[i].caseimage%>"/>
                <p><%=caslist[i].title%></p>
            </li>
        <%}%>
    </ul>
</div>

<div id="mission">
    <h2>企业使命 Enterprise Mission</h2>
    <ul>
        <%for(let i=0;i<caslist.length;i++){%>
            <li><img src="<%=caslist[i].caseimage%>"/></li>
        <%}%>
    </ul>
</div>



<%include ./base/footer.ejs%>